/* 
================
Global css
================
*/

@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600;700;800&display=swap');

*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {font-size: 100%;
    scroll-behavior: smooth;
} /*16px*/

:root{

    --ff-family-1: 'Fugaz One', cursive;
    --ff-family-2:'Spectral',serif;
    --ff-family-3:'Karla', sans-serif;
    --ff-family-4:'Abhaya Libre', serif;

    /* COLORS */

    --primary-100:#cdd4ec;
    --primary-200:#9ba9d8;
    --primary-300:#697fc5;
    --primary-400:#3754b1;
    --primary-500:#05299E;
    --primary-600:#04217e;
    --primary-700:#03195f;
    --primary-800:#02103f;
    --primary-900:#010820;

    /* grey colors*/

    --grey-50: #f9fafb;
    --grey-100:#f3f4f6;
    --grey-200:#e5e7eb;
    --grey-300:#d1d5db;
    --grey-400:#9ca3af;
    --grey-500:#6b7280;
    --grey-600:#4b5563;
    --grey-700:#374151;
    --grey-800:#1f2937;
    --grey-900:#111827;
    
     /* common colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;


    /* FONTS */
    --headingFont:'Spectral',serif;
    --bodyFont:'Karla', sans-serif;
    --smallText:0.7em;

    /* REST OF VARS */

    --backgroundColor:var(--grey-100);
    --textColor:var(--grey-900);
    --borderRadius:0.25rem;
    --leterSpacing:1px;
    --transititon: 0.3s ease-in-out all;
    --max-width:1120px;
    --fixed-width:600px;

    /* box shadow */

    --shadow-1:0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px 0px rgb(0 0 0 / 0.06);
    --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.06);
    --shadow-3:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -2px rgb(0 0 0 / 0.05);
    --shadow-4:0 20px 25px -5px rgb(0 0 0 / 0.1), 0 10px 10px -5px rgb(0 0 0 / 0.04);
    --shodow-All-around:0px 0px 15px rgba(0 ,0, 0, 0.1);


}

body {
  background:var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color:var(--textColor);
}

p {
    max-width:100em;
    color: var(--grey-400);
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: var(--smallText)}

a{
    text-decoration: none;
}

ul{
    list-style-type:none;
    padding: none;
}

.img{
    width: 100%;
    display: block;
    object-fit: cover;
}

/* buttons */

.default-btn{
    cursor: pointer;
    color: var(--white);
    background:var(--primary-500);
    padding:0.375rem 0.75rem;
    text-transform: capitalize;
    border-radius: var(--borderRadius);
    border:transparent;
    letter-spacing: var(--leterSpacing);
    box-shadow: var(--shadow-1);
    transition: var(--transititon); 
    display: inline-block;
}

.default-btn:hover{
    background:var(--primary-700);
    box-shadow: var(--shadow-4);
}

.btn-hipster{
    color: var(--primary-500);
    background:var(--primary-200);
}

.btn-hipster:hover{
    color: var(--primary-200);
    background:var(--primary-700);
}

.btn-block{
    width: 100%;
}

/* alerts */

.alert{
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
}

.alert-danger{
    color: var(--red-dark);
    background:var(--red-light);
}

.alert-success{
    color: var(--green-dark);
    background:var(--green-light);
}

/* loading */

.loading{
   width: 6rem;
   height: 6rem;
   border: 5px solid var(--grey-400);
   border-top-color:var(--primary-500) ;
   border-radius: 50%;
   animation: circle 0.6s linear infinite;
  
}

@keyframes circle {
    to{
        transform:rotate(360deg);
    }
}





/* 
================
Pagintaion
================
*/

body{
    background:var(--grey-200);
}

.loading{
    margin: 0 auto;
    display: none;
}

section{
    padding:5rem 0;
}


.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
   
}

.heading{
    text-align: center;
    padding-bottom: 5rem;
}

.underline{
    width:8rem;
    height:0.3rem;
    background:rgb(121, 159, 228);
    margin: 0 auto;
}


.heading h1{
    font-size: 3.5rem;
    font-family: var(--ff-family-2);
    font-weight:bold;
    color:rgb(77, 23, 4);
}


.github-profile{
    text-align: center;
    padding:2rem 0 ;
    box-shadow:0px 5px 10px rgba(0 ,0, 0, 0.4);
    border-radius:15px;
    background:var(--primary-200);
    margin-bottom:3rem;
    
}

.github-photo{
  width:9rem;
  height:9rem;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid white;

}


.github-name{
    padding: 1rem 0;
    font-size:1;
}

.github-btn{
    text-transform: uppercase;
    padding:0.5rem 1rem;
    border-radius:8px;
    background:rgb(255, 127, 80);
    border: transparent;
    transition:all 0.5s ease-in-out;

}

.github-btn:hover{
    cursor: pointer;
    background:black;
    color: white;

}

.github-btn a{
    color: white;
    letter-spacing:2px;

}


.btn-container{
    margin: 5rem auto;
    text-align: center;
}

.page-btn{
    border-radius: 8px;
    margin:0 0.4rem;
    width:3rem;
    height: 3rem;
    background:var(--primary-400);
    border: transparent;
    font-size:1.5rem;
    color:white;
    transition: var(--transititon);
    
}

.page-btn:hover{
    background:var(--black);
    color: var(--white);
}

.prev ,.next{
    margin: 0 1rem;
    font-size:2rem;
    text-transform: capitalize;
    border: transparent;
    background:transparent;
}

.follower-btn{
    display: inline;
}

.active{
    background:var(--black);
    color: var(--white);
}


.follower-btn{
    display: grid;
    grid-template-columns:1fr 1fr  1fr 1fr;
    justify-items: center;
    row-gap:0.5rem;
    margin:2rem 0;
}






@media screen and (min-width:600px) {

    .github-profile{
        margin-bottom:0;
    }

    .github-container{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap:2rem;
    }

    .follower-btn{
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

  
    
}

@media screen and (min-width:1000px) {

    .github-container{
        grid-template-columns:1fr 1fr 1fr;
    }

    .follower-btn{
        display:inline;
    }
    
}


@media screen and (min-width:1200px) {


    .github-container{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
    
}


